# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
*.tfvars

# CDK
cdk.out/
cdk.context.json

# Python
__pycache__/
*.pyc
.venv/
venv/

# General
.DS_Store
Thumbs.db